version: '3.9'

services:
  app:
    build:
      context: . # dockerfile 이 있는 경로
      args: # dockerfile 에서 사용할 인자
        - DEV=true # DEV 인자 true 로 설정
    ports:
      - '8000:8000'
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py wait_for_db && 
            python manage.py migrate && 
            python manage.py runserver 0.0.0.0:8000"
    env_file: .env.dev
    environment:
      - ENV=development
    depends_on:
      - db # db 서비스가 먼저 실행되도록 설정

  db:
    image: postgres:13-alpine
    env_file: .env.dev
    volumes:
      - dev-db-data:/var/lib/postgressql/data

volumes:
  dev-db-data: # docker-compose 가 default 값으로 세팅해줌
